In [42]:
import altair as alt
import numpy as np
import pandas as pd

In [103]:
fl_opioid = pd.read_csv("/Users/pr158admin/Desktop/wa_fl/fl_summary.csv")
wa_opioid = pd.read_csv("/Users/pr158admin/Desktop/wa_fl/wa_summary.csv")

In [44]:
fl_opioid.head()

,Unnamed: 0,BUYER_STATE_x,BUYER_COUNTY_x,TRANSACTION_YEAR,population,deaths,opioid_shipment_population_ratio,policy,state
0,0,DE,new castle county,2006,527174.0,41.0,0.158064,0,0
1,1,DE,new castle county,2007,530555.0,50.0,0.202443,0,0
2,2,DE,new castle county,2008,533958.0,67.0,0.261634,0,0
3,3,DE,new castle county,2009,527774.0,75.0,0.292686,0,0
4,4,DE,new castle county,2010,533514.0,70.0,0.326027,0,0

In [45]:
fl_death = pd.read_csv("/Users/pr158admin/Desktop/Practical Data Science/project_final/pds-2022-leep/20_intermediate_files/fl_full.csv")
wa_death = pd.read_csv("/Users/pr158admin/Desktop/Practical Data Science/project_final/pds-2022-leep/20_intermediate_files/WA_full.csv")
tx_death = pd.read_csv('//Users/pr158admin/Desktop/Practical Data Science/project_final/pds-2022-leep/20_intermediate_files/tx_final.csv')

In [46]:
wa_death= wa_death.rename(columns = {"year":"TRANSACTION_YEAR", "state": "BUYER_STATE_x", "County":"BUYER_COUNTY_x", "deaths": "Deaths"})
fl_death= fl_death.rename(columns = {"year":"TRANSACTION_YEAR", "state": "BUYER_STATE_x", "County":"BUYER_COUNTY_x", "deaths": "Deaths"})
tx_death= tx_death.rename(columns = {"year":"TRANSACTION_YEAR", "state": "BUYER_STATE_x", "County":"BUYER_COUNTY_x", "deaths": "Deaths"})

In [47]:
def data_death(df, year, state):
    df["TRANSACTION_YEAR"] = df["TRANSACTION_YEAR"].astype("int")
    df["Deaths"] = df["Deaths"].astype("int")
    df2= (df.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Deaths'].sum())
    df2["death_rate"]= df2["Deaths"]/df2["population"]
    df2["death_rate"]*= 100000

    df2["policy"] = 0
    df2.loc[df2["TRANSACTION_YEAR"] > year, "policy"] = 1
    df2["state"] = 0
    df2.loc[df2["BUYER_STATE_x"] == state, "state"] = 1
    
    return df2

In [48]:
WA_death = data_death(wa_death, 2012, "WA")
FL_death = data_death(fl_death, 2010, "FL")
TX_death = data_death(tx_death, 2007, "TX")

/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/2644717285.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2= (df.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Deaths'].sum())
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/2644717285.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2= (df.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Deaths'].sum())
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/2644717285.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2= (df.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Deaths'].sum())

In [50]:
summarystat_tx_death=TX_death.drop(["Deaths","population",], axis=1)
summarystat_wa_death=WA_death.drop(["Deaths","population",], axis=1)
summarystat_fl_death=FL_death.drop(["Deaths","population",], axis=1)

In [51]:

# summarystat_tx = summarystat_tx_death[summarystat_tx_death['state'] == 1]

# summarystat_wa = summarystat_wa_death[summarystat_wa_death['state'] == 1]
# summarystat_fl = summarystat_fl_death[summarystat_fl_death['state'] == 1]

In [76]:
result_TX = (summarystat_tx_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
result_WA = (summarystat_wa_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
result_FL = (summarystat_fl_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))

/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/3228989374.py:1: FutureWarning: ['BUYER_STATE_x'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  result_TX = (summarystat_tx_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/3228989374.py:2: FutureWarning: ['BUYER_STATE_x'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  result_WA = (summarystat_wa_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/3228989374.py:3: FutureWarning: ['BUYER_STATE_x'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  result_FL = (summarystat_fl_death.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))

In [77]:
result_TX.head()

             TRANSACTION_YEAR                     death_rate             \
                         mean  median   min   max       mean     median
state policy
0     0                2005.0  2005.0  2003  2007  12.058735  12.105817
      1                2011.0  2011.0  2008  2014  14.049919  13.148408
1     0                2005.0  2005.0  2003  2007   8.941733   8.860459
      1                2011.0  2011.0  2008  2014   9.881924   9.961689


                   min        max
state policy
0     0       5.316759  19.396701
      1       7.405456  21.328594
1     0       8.152083   9.930458
      1       8.131662  10.839858

In [78]:
result_WA.head()

             TRANSACTION_YEAR                     death_rate             \
                         mean  median   min   max       mean     median
state policy
0     0                2009.0  2009.0  2006  2012  11.864196  10.954016
      1                2013.5  2013.5  2013  2014  14.315150  14.787935
1     0                2009.0  2009.0  2006  2012  13.618284  13.805401
      1                2013.5  2013.5  2013  2014  13.373469  13.373469


                    min        max
state policy
0     0        4.152381  23.864823
      1        5.524387  22.851958
1     0       12.691471  14.293437
      1       13.324316  13.422623

In [79]:
result_FL.head()

             TRANSACTION_YEAR                     death_rate             \
                         mean  median   min   max       mean     median
state policy
0     0                2008.0  2008.0  2006  2010  14.626249  13.280453
      1                2012.5  2012.5  2011  2014  20.264376  17.406300
1     0                2008.0  2008.0  2006  2010  15.714665  15.882893
      1                2012.5  2012.5  2011  2014  13.761849  13.512351


                    min        max
state policy
0     0        6.257053  28.752262
      1       10.146665  42.750005
1     0       14.098393  17.211612
      1       12.585801  15.436894

In [104]:
fl_opioid.head()

,Unnamed: 0,BUYER_STATE_x,BUYER_COUNTY_x,TRANSACTION_YEAR,population,deaths,opioid_shipment_population_ratio,policy,state
0,0,DE,new castle county,2006,527174.0,41.0,0.158064,0,0
1,1,DE,new castle county,2007,530555.0,50.0,0.202443,0,0
2,2,DE,new castle county,2008,533958.0,67.0,0.261634,0,0
3,3,DE,new castle county,2009,527774.0,75.0,0.292686,0,0
4,4,DE,new castle county,2010,533514.0,70.0,0.326027,0,0

In [105]:
def dataset(df, year, state):
    """make dataset ready to run diff-diff and pre-post for opioids"""
    df["TRANSACTION_YEAR"] = df["TRANSACTION_YEAR"].astype("int")
    groupby_1 = (df.groupby(['BUYER_STATE_x', 'BUYER_COUNTY_x','TRANSACTION_YEAR','population','deaths',],as_index=False)['opioid_shipment_population_ratio'].sum())
    groupby_1['Total shipment']= groupby_1['population']*groupby_1['opioid_shipment_population_ratio']
    opioids_data = (groupby_1.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Total shipment'].sum())
    opioids_data["opioid_shipment_population_ratio_stat"]= opioids_data["Total shipment"]/opioids_data["population"]
    opioids_data["policy"] = 0
    opioids_data.loc[opioids_data["TRANSACTION_YEAR"] > year, "policy"] = 1
    opioids_data["state"] = 0
    opioids_data.loc[opioids_data["BUYER_STATE_x"] == state, "state"] = 1
    return opioids_data

In [106]:
FL = dataset(fl_opioid, 2010, "FL")
WA = dataset(wa_opioid, 2012, "WA")

/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/90452242.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  opioids_data = (groupby_1.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Total shipment'].sum())
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/90452242.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  opioids_data = (groupby_1.groupby(['BUYER_STATE_x','TRANSACTION_YEAR',],as_index=False)['population','Total shipment'].sum())

In [107]:
FL.head(10)

,BUYER_STATE_x,TRANSACTION_YEAR,population,Total shipment,opioid_shipment_population_ratio_stat,policy,state
0,DE,2006,527174.0,8.332726e+04,0.158064,0,0
1,DE,2007,530555.0,1.074074e+05,0.202443,0,0
2,DE,2008,533958.0,1.397013e+05,0.261634,0,0
3,DE,2009,527774.0,1.544720e+05,0.292686,0,0
4,DE,2010,533514.0,1.739400e+05,0.326027,0,0
5,DE,2011,536478.0,2.110485e+05,0.393396,1,0
6,DE,2012,539665.0,1.775352e+05,0.328973,1,0
7,DE,2013,542784.0,1.301265e+05,0.239739,1,0
8,DE,2014,545846.0,1.244452e+05,0.227986,1,0
9,FL,2006,15774848.0,3.281559e+06,0.208025,0,1

In [64]:


# summarystat_wa = WA[WA['state'] == 1]
# summarystat_fl = FL[FL['state'] == 1]

In [66]:
summarystat_fl.head(20)

,BUYER_STATE_x,TRANSACTION_YEAR,population,deaths,Total shipment,death_rate,opioid_shipment_population_ratio,policy,state
9,FL,2006,15774848.0,2224.0,3.281559e+06,14.098393,0.208025,0,1
10,FL,2007,15933570.0,2405.0,4.104701e+06,15.093918,0.257613,0,1
11,FL,2008,16061306.0,2551.0,5.316141e+06,15.882893,0.330991,0,1
12,FL,2009,15832335.0,2725.0,6.053815e+06,17.211612,0.382370,0,1
13,FL,2010,16056232.0,2615.0,8.465581e+06,16.286511,0.527246,0,1
14,FL,2011,16207924.0,2502.0,6.616015e+06,15.436894,0.408196,1,1
15,FL,2012,16381833.0,2177.0,3.477671e+06,13.289111,0.212288,1,1
16,FL,2013,16566288.0,2085.0,2.366631e+06,12.585801,0.142858,1,1
17,FL,2014,16810344.0,2309.0,2.300486e+06,13.735590,0.136849,1,1

In [109]:
#for Flori
summarystat_fl=FL.drop(["deaths","Total shipment","population","TRANSACTION_YEAR"], axis=1)
summarystat_wa= WA.drop(["deaths","Total shipment","population","TRANSACTION_YEAR"], axis=1)

KeyError: "['deaths'] not found in axis"

In [96]:
summarystat_fl.head()

  BUYER_STATE_x  opioid_shipment_population_ratio_stat  policy  state
0            DE                               0.158064       0      0
1            DE                               0.202443       0      0
2            DE                               0.261634       0      0
3            DE                               0.292686       0      0
4            DE                               0.326027       0      0

In [108]:
result_FL_opioid = (summarystat_fl.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
result_WA_opioid = (summarystat_wa.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))

/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/1282257432.py:1: FutureWarning: ['BUYER_STATE_x'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  result_FL_opioid = (summarystat_fl.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_11250/1282257432.py:2: FutureWarning: ['BUYER_STATE_x'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  result_WA_opioid = (summarystat_wa.groupby(['state','policy',],as_index=False).agg( ['mean', 'median','min', 'max']))

In [110]:
result_FL_opioid

             opioid_shipment_population_ratio_stat                      \
                                              mean    median       min
state policy
0     0                                   0.202368  0.173488  0.064636
      1                                   0.280175  0.233966  0.067997
1     0                                   0.341249  0.330991  0.208025
      1                                   0.225048  0.177573  0.136849


                   max
state policy
0     0       0.419456
      1       0.645817
1     0       0.527246
      1       0.408196

In [102]:
result_WA_opioid

             opioid_shipment_population_ratio_stat                      \
                                              mean    median       min
state policy
0     0                                   0.152674  0.151719  0.070044
      1                                   0.159547  0.172469  0.073646
1     0                                   0.138385  0.139474  0.127849
      1                                   0.118954  0.118954  0.118399


                   max
state policy
0     0       0.316354
      1       0.260408
1     0       0.153644
      1       0.119509