In [1]:
import pandas as pd

In [2]:
df_selection = pd.read_csv("elder_generation_proportion_per_state.csv")
df_selection= df_selection.rename(columns={"0.165": "proportion"})
df_selection= df_selection.rename(columns={"United States": "state"})

In [3]:
df_selection = df_selection.loc[:51, :]

In [4]:
df_selection

                   state  proportion
0                Alabama       0.175
1                 Alaska       0.130
2                Arizona       0.182
3               Arkansas       0.173
4             California       0.149
5               Colorado       0.148
6            Connecticut       0.177
7               Delaware       0.197
8   District of Columbia       0.127
9                Florida       0.211
10               Georgia       0.145
11                Hawaii       0.197
12                 Idaho       0.162
13              Illinois       0.160
14               Indiana       0.161
15                  Iowa       0.174
16                Kansas       0.164
17              Kentucky       0.170
18             Louisiana       0.160
19                 Maine       0.213
20              Maryland       0.160
21         Massachusetts       0.171
22              Michigan       0.177
23             Minnesota       0.162
24           Mississippi       0.165
25              Missouri       0.172
26               Montana       0.196
27              Nebraska       0.162
28                Nevada       0.163
29         New Hampshire       0.186
30            New Jersey       0.165
31            New Mexico       0.183
32              New York       0.169
33        North Carolina       0.169
34          North Dakota       0.156
35                  Ohio       0.174
36              Oklahoma       0.160
37                Oregon       0.183
38          Pennsylvania       0.187
39          Rhode Island       0.178
40        South Carolina       0.184
41          South Dakota       0.174
42             Tennessee       0.167
43                 Texas       0.129
44                  Utah       0.115
45               Vermont       0.204
46              Virginia       0.163
47            Washington       0.160
48         West Virginia       0.205
49             Wisconsin       0.175
50               Wyoming       0.172
51           Puerto Rico       0.213

In [5]:
florida = df_selection.loc[df_selection["state"]== "Florida", ].proportion
florida

9    0.211
Name: proportion, dtype: float64

In [6]:
washington = df_selection.loc[df_selection["state"]== "Washington", ].proportion
washington

47    0.16
Name: proportion, dtype: float64

In [7]:
texas = df_selection.loc[df_selection["state"]== "Texas",].proportion
texas

43    0.129
Name: proportion, dtype: float64

In [8]:
df_selection["Florida_diff"] = df_selection["proportion"].apply(lambda x: x-florida).abs()

In [9]:
df_selection["Washington_diff"] = df_selection["proportion"].apply(lambda x: x-washington).abs()

In [10]:
df_selection["Texas_diff"] = df_selection["proportion"].apply(lambda x: x-texas).abs()

In [11]:
florida_states = df_selection.nsmallest(4, "Florida_diff").state.tolist()
florida_states

['Florida', 'Maine', 'Puerto Rico', 'West Virginia']

In [12]:
texas_states = df_selection.nsmallest(4, "Texas_diff", keep='all').state.tolist()
texas_states

['Texas', 'Alaska', 'District of Columbia', 'Utah']

In [13]:
washington_states = df_selection.nsmallest(4, "Washington_diff", keep='all').state.tolist()
washington_states

['Illinois', 'Louisiana', 'Maryland', 'Oklahoma', 'Washington']

In [14]:
print(f"the constant states for Florida is: {florida_states}")
print(f"the constant states for Texas is: {texas_states}")
print(f"the constant states for Washington is: {washington_states}")

the constant states for Florida is: ['Florida', 'Maine', 'Puerto Rico', 'West Virginia']
the constant states for Texas is: ['Texas', 'Alaska', 'District of Columbia', 'Utah']
the constant states for Washington is: ['Illinois', 'Louisiana', 'Maryland', 'Oklahoma', 'Washington']